<a href="/prayers/<%=prayer.id%>">
  <article class="message">
    <div class="message-header">
      <p>
        <strong><%= "Anonymous" if prayer.is_anonymous %><%=prayer.author.username if !prayer.is_anonymous%></strong>
        <em> - <%= prayer.overview %></em>
      </p>
      <%= prayer.created_at.strftime("%m/%d/%y at %I:%M%p %Z")%>
    </div>
    <div class="message-body">
      <%=prayer.details%>
    </div>
  </article>
</a>
<%= link_to "#{pluralize(prayer.comments.count, 'comment')}", prayer_comments_path(prayer), class: "button is-small is-text" %>
<br><br>