<h1 class="title is-2 is-spaced"><%= @user.username %></h1>
<h4 class="subtitle is-6"><strong>Full Name:</strong> <%=@user.name %></h4>
<h4 class="subtitle is-6"><strong>Bio:</strong> <%=@user.bio %></h4>
<h4 class="subtitle is-6"><strong>Home Church:</strong> <%=@user.church %></h4>
<h4 class="subtitle is-6"><strong>Favorite Verse:</strong> <%=@user.verse %></h4>
<br>
<h2 class="title is-5">Public Prayer Groups:</h2>
<%= render partial: 'user_groups_collection', collection:@user.public_groups, as: :group || "#{@user.username} has not joined any groups yet"%>

<br><br>
<hr>
<h2 class="title is-3">Public Prayers: </h2>
<%= render(partial: 'prayers/public_prayers_collection', collection: @user.public_prayers, as: :prayer) || "No public prayers to display" %>